

  .noto-naskh-arabic-regular {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .noto-naskh-arabic-medium {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .noto-naskh-arabic-semibold {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .noto-naskh-arabic-bold {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }